@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using Microsoft.EntityFrameworkCore;
@using Agape.Models
@inject AppDbContext db;

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>unkown</td>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.ImageUrl</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<User>? users;

    protected override async Task OnInitializedAsync()
    {
        users = await db.Users.ToListAsync();
    }
}
